.progress-bar-container{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    align-content: center;
}

.progress-bar-image{
    width: 100%;
}

.progress-bar{
    width: 80%;
    display: 'block';
    overflow: "hidden";
    border-radius: 50px; 
    height: 22px;
    background-color: #0000004d;
    bottom: 20px;
    left: 20px;
    margin: 25px 0 0 10px;
}

.name-text{
    color: green;
    font-size: 25px;
    word-wrap: none;
}

.value{
    top: 0px;
    left: 10px;
    background-color: #000;
}

.content {
    fill:transparent;
    stroke: green;
  }

.circle-text{
    margin-top: 28%;
    margin-left: 35%;
    font-size: 25px;
    position: absolute;
    color: green;
}