.progress-bar-container{
    width: 100%;
    position: relative;
    text-align: center;
}

.progress-bar-image{
    width: 100%;
}

.progress-bar{
    width: 95%;
    display: 'block';
    overflow: "hidden";
    position: absolute;
    border-radius: 40px; 
    height: 22px;
    background-color: #0000004d;
    bottom: 20px;
    left: 8px;
}

.value{
    top: 0px;
    left: 0px;
    background-color: #000;
}