.tools-container{
    display: flex;
    margin: auto;
}

.habilities-{
    display: inline;
    margin: auto;
}

.tools-container .suggestion-image{
    width:500px;
    height:500px;
    margin: auto 50px auto auto;
    object-fit: cover;
}

.tools-container .progress-container{
    display: flex;
    margin: auto;
}

.skills-container{
    margin: 0 0 0 70px;
}

.skills-container img{
}