.tools-container{
    display: flex;
    margin: auto;
}

.tools-container .suggestion-image{
    width:500px;
    height:500px;
}

.tools-container .progress-container{
    display: flex;
}

.skills-container{
    margin: 0 0 0 40px
}