.menu {
  display: block;
  position: fixed;
  right: 10px;
  top: 50%;
}

.menu-item {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 5px;
    border-color: black;
    border-width: 5;
  }

  .active{
      background-color: aqua;
  }