.page-titles{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #00B2FF;
    margin: 50px;
  }

  .sub-titles{
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    color: blue;
    text-align: center;
  }

  .in-image{
    margin: 30px auto auto auto;
    width: 1000px;
    line-break: normal;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    position: absolute;
  }