/* .content{
    display: block; 
    padding: 20 auto;
    margin: 0 40px 0 0;
    line-height: 40px; 
    align-items: center;
} */

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.circle-item {
  display: block;
  padding: 20 auto;
  margin: 0 80px 0 0;
  line-height: 40px;
  align-items: center;
}

.profile{
  margin: 0;
}

.name {
  color: black;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.description {
  color: black;
  font-size: 15px;
  text-align: center;
  align-items: center;
}

.circle-image-row {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .circle-image-row {
    display: block;
  }

  .circle-item {
    margin: 0 0 15% 0;
  }

  .circle-image {
    border-radius: 100%;
    object-fit: cover;
  }
}
