/* .content{
    display: block; 
    padding: 20 auto;
    margin: 0 40px 0 0;
    line-height: 40px; 
    align-items: center;
} */

.circleimage{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.name{
    color: black;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.description{
    color: black;
    font-size: 15px;
    text-align: center;
    align-items: center;
}
