.follow-container {
    display: flex;
    margin: auto;
}

.form-content {
  display: flex;
  height: 100%;
  margin: 0 40px 0 40px;
}

.control-form {
  color: black;
  display: inline;
}

.control-form input {
  width: 100%;
  font-size: 20px;
}

.control-form button {
  width: 100%;
  font-size: 30px;
}

.control-form textarea {
  width: 100%;
  height: 300px;
  resize: none;
  font-size: 20px;
}

.follow-container .suggestion-image{
  width: 1000px;
  height: 100%;
}

.footer {
  position: relative;
  width: 100%;
  height: 50%;
  margin: auto;
  padding: 0 0 50px 0;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.icons-text{
  color: black;
  font-size: 25px;
}

.icons-image{
  height: 75px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 0px;
}

@media screen and (max-width: 1000px) {
  .follow-container .suggestion-image{
    width: 500px;
    height: 100%;
  }
}