.long-text{
  /*  margin: 3%;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: justify;
    align-content: center;
    align-items: center;
    width: 50%;*/
    color: black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-justify: inter-word;
    margin: 0 20% 0 0;
}